{% extends 'base/base_login.html' %}
{% block title %}Digite a Nova Senha{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h3 class="mb-3">Digite sua Nova Senha</h3>
        {% if validlink %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" style="color: white;" class="btn btn-primary-custom w-100">Alterar Senha</button>
            </form>
        {% else %}
            <p class="alert alert-danger">O link para redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
            <a href="{% url 'password_reset' %}" style="color: white;" class="btn btn-secondary-custom w-100">Solicitar Novo Link</a>
        {% endif %}
    </div>
</div>
{% endblock %}
