{% extends 'base/base_login.html' %}
{% block title %}Redefinir Senha{% endblock %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h3 class="mb-3">Redefinir Senha</h3>
        <p class="text-muted">Digite seu e-mail cadastrado e enviaremos um link para redefinir sua senha.</p>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_email" class="form-label-custom">E-mail</label>
                <input type="email" name="email" id="id_email" class="form-control form-control-custom" required>
            </div>
            <button type="submit" style="color:white;" class="btn btn-primary-custom w-100">Enviar Link de Redefinição</button>
        </form>
        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-decoration-none">Voltar para o Login</a>
        </div>
    </div>
</div>
{% endblock %}
