{% extends "base/base.html" %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Confirmar Exclusão de Tipo de Lavagem</h2>
    <p>Tem certeza de que deseja excluir o tipo de lavagem "{{ tipo_lavagem.nome }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url "tipo_lavagem_list" %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}


